<app-header></app-header>

<div class="content">
    <div class="job_advertisement">
        <div class="job_advertisement--body">
            <app-job-advertisement-save
                [listValues]="(listValues$ | async)"
                [jobAdvertisementDataForCompany]="(jobAdvertisementDataForCompany$ | async)!"
                (saveJobAdvertisementEvent)="modifyEvent($event)"
            ></app-job-advertisement-save>
        </div>
    </div>
</div>