<div class="job_advertisement--editblock">
    <button class="default_medium_2_button" (click)="modifyJobAdvertisement()">Módosítás</button>
    <button class="default_red_button" (click)="deleteJobAdvertisement()">Törlés</button>
</div>
