<app-header></app-header>
<div class="content">
    <app-new-job-advertisement-form
        [listValues]="(listValues$ | async)"
        (newJobAdvertisementEvent)="newJobAdvertisementEvent($event)"
    ></app-new-job-advertisement-form>
</div>