<section  class="default_popup" id="popup">
    <div class="default_popup--content">
        <div class="default_list">
            <div class="default_list--title">
                Válassza ki, mely jogosítvány típusokkal rendelkezik
                <button (click)="exitDrivingLicences()" class="default_list--title--icon exit_btn">
                    <mat-icon >clear</mat-icon>
                </button>
            </div>
            <div class="default_list--buttonblock center">
                <button
                    class="default_list--buttonblock--type"
                    [ngClass]="{'green' : selected(drivingLicence.value)}"
                    *ngFor="let drivingLicence of drivingLicenceTypes | keyvalue" 
                    (click)="checkDrivingLicenceSelected(drivingLicence.value)"
                    [value]="drivingLicence.key">
                        {{drivingLicence.value}}
                </button>
            </div>
            <div class="default_list--buttonblock popup_padding">
                <button class="default_medium_2_button" (click)="saveDrivingLicences()">mentés</button>
            </div>
        </div>
    </div>
</section>