.c-profile__top{
    justify-content: center;
    grid-gap: 5rem 10rem;
    margin: 5rem;
    
    &--basicblock{
        width: 100%;
        justify-content: flex-end;
        align-content: center;

        &--pictureblock{

            img{
                width: 31rem;
                height: 17rem;
                border: 1px solid $primary-black;
            }
        }

        &--nameblock{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            padding-top: 3rem ;
            font-weight: 500;
        }
    }

    &--intoblock{
        justify-content: center;

        &--icon{
            display: flex;
            align-items: flex-end;
            margin-right: 0.5rem;
            font-size: 2rem;
        }

    }
}

