.default_popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    background-color: rgba($primary-black, .8);
    z-index: 9999;

    &--content{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &--inputblock{
            display: flex;
            align-items: center;
            justify-content: center;
            

            &-side{
                width: 20%;

                input{
                    padding: .2rem;
                    border: .1rem solid $primary-medium-2;
                    border-radius: .5rem;
                }
                p{
                    color: $primary-medium-3;
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding: 2rem 0 .5rem 0; 
                    margin: 0;
                }
               
            }
        }
        .buttonblock{
            padding: 2rem;
            display: flex;
            justify-content: center;

        }




        &--language_exam{
            display: flex;
            flex-direction: row;

            &-side{
                &:first-child{
                    
                    border-right: .2rem solid $primary-medium-2;
                    
                }

                justify-content: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 2rem 0;
                flex: 1;

                p{
                    color: $primary-medium-3;
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin: 1rem;
                }
                select{
                    width: 40%;
                    height: 3rem;
                    border: .1rem solid $primary-medium-2;
                    border-radius: .7rem;
                }

                &-one{
                    display: flex;
                    font-size: 2rem;
                    font-weight: 500;
                    color: $primary-medium-3;
                    padding: 1rem;
                    align-items: center;

                    mat-icon{
                        color: red;
                        font-size: 3rem;
                        margin-bottom: .5rem;
                    }
                    p{
                        padding-left: 1rem;
                        margin: 0;
                    }
                }
            }
        }

    }
}

.quality_container{
    width: 70%;
    align-self:center;
    border-top: .2rem solid $primary-medium-3;
    border-bottom: .2rem solid $primary-medium-3;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: 1.8rem;
    color: $primary-medium-3;
    padding: 1.5rem;
    line-height: 2.3rem;

    &-delete{
        color: red;
        grid-row: 1/4;
        justify-self: flex-start;
        align-self: center;
    }
    &-year{
        grid-row: 1/5;
        grid-column: 3/4;
        align-self: center;
        font-size: 3.1rem;
        font-weight: 600;
        color: $primary-medium-3;
    }
    &-type{
        padding-top: .7rem;
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 2.6rem;
        font-weight: 500;
    }
}

.settings_popup_content{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--pair{
        display: flex;
        align-items: flex-start;
        padding: 1.5rem;

        p{
            font-size: 1.8rem;
            color: $primary-dark-1;
            padding-right: 1rem;
        }
    }
}