@import "../abstract/abstract.scss";

.header{
    padding-top: 3rem;
    max-width: 130rem;
    height: 12rem;
    margin: auto;
    display: flex; 
    justify-content: space-between;

    &__logo{
        max-height: 10rem;
        display: flex;
    }

    &__sidebox{
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 500;

        &--name{
            margin: 0;
        }

        &--icon{
            margin:0 1rem;
            cursor: pointer;

            &:hover{
                color: $primary-medium-3;
            }
        }

        &--logout{
            font-size: 1.6rem;
            padding: 1rem 2rem;
            background-color: $primary-white;
            border: 2px solid $primary-dark-1;
            border-radius: 5px;
            color: $primary-dark-1;
            font-weight: 500;
            transition: all .1s;

            &:hover{
                background-color: $primary-dark-1;
                color: $primary-white;
            }
            
        }
    }
}
