.job_advertisement{
    
    align-self: center;
    display: grid;
    grid-template-columns: auto max-content;

    &--editblock{
        display: flex;
        flex-direction: column;

        button{
            margin: 2rem 0;
        }
    }

    &--body{
        max-width: 100rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        &-list{
            justify-content: center;
            display: flex;
            margin: 3rem 0;
        
            &-element{
                padding: .5rem 1rem;
                margin: 0 1rem;
                background-color: $primary-light-1;
                border: 4px solid $primary-medium-1;
                color: $primary-medium-3;
                border-radius: .5rem;
                box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
            }
        }
        &-name{
            width: 100rem;
            border-bottom: 2px solid $primary-medium-3;
            display: flex;
            justify-content: center;

            h1{
                font-weight: 500;
            }
            
        }

        &-place{

            display: flex;
            justify-content: center;

            h3{
                padding: 1rem .2rem;
            }
        }
         
        
    }

    &--company{
        background-color: $primary-medium-2;
        margin: 5rem;
        padding: 2rem;
        max-width: 30rem;
        border-radius: 2rem;
        cursor: pointer;
        h2{
            color: white;
            font-weight: 500;
            text-align: center;
        }
    }

    &--textbox{
        font-size: 120%;
        background: $primary-light-1;
        padding: 3rem;
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        width: 90rem;
        box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    }

    &--filter{

        &-select{
            width: 20rem;
            margin: 3rem;
            background-color: $primary-medium-2;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: .6rem;
            padding: 0.3rem;
            height: max-content;
            box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
        
            button{    
                border: 0;
                width: 80%;
                padding: 0.8rem 0;
                background-color: transparent;
                color: white;
                font-size: 120%;

            
            }

            button:hover{
                background-color: white;
                border-radius: .3rem;
                color: $primary-medium-3;
            }
        }

        &-list{
            padding: 1rem;
            background-color: $primary-light-1;
            width: 80%;
            border-radius: 1rem;
            flex-direction: column;
            text-align: center;

            &-title{
                display: flex;
                justify-content: center;
                font-size: 2.4rem;
                padding: 1rem 0 2rem 0;
                font-weight: 500;
            }

            button{
                background-color: transparent;
                padding: 0.8rem 1rem;
                border: 2px solid $primary-medium-2;
                border-radius: 0.5rem;
                margin: .2rem .5rem;
            }
        }
    }

}

.stroke{
    font-weight: 500;
}

.setFields{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.job_advertisement-save{
    padding: 3rem 0;
}

.middle{
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.filtercontent{
    display: flex;
    padding: 3rem;
    justify-content: center;
}

.midtext{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 0.3rem;
}

.center_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.interested_company_buttons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    .done{
        color: green;
    }
    .clear{
        color: red
    }
}