.card{
    width: 40rem;
    margin: 4rem auto;
    background-color: $primary-light-1;
    border-radius: 1rem;
    height: max-content;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;

    &-name{
        font-size: 2rem;
        font-weight: 500;
        padding: 3rem 0 2rem 0;
        margin: 0 auto;
    }

    &-title{
        text-transform: uppercase;
        font-size: 2.5rem;
        margin: 0 auto;
        padding: 2rem 0 0.5rem 0;
        font-weight: 500;
    }

    &-company_name{    
        font-size: 1.8rem;
        margin: 0 auto;
        padding: 0 0 2rem 0;
        font-weight: 500;
    }

    &-address{
        margin: 0 auto;
        padding-bottom: 1rem;
        font-size: 1.6rem;
    }

    &-introduction{
        padding: 0 3rem;
        text-align: justify;
    }

    &-buttons{
        display: flex;
        justify-content: space-evenly;
        padding: 2rem;
        align-items: center;

        &-clear{
            color: red;
            cursor: pointer;
        }

        &-done{
            color: green;
            cursor: pointer;
        }
    }
}
