.filtertable{
    background-color: $primary-light-1;
    margin: 5rem auto;
    border-radius: 1rem;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    th{
        background-color: $primary-medium-2;
        text-align: center;
        padding: 1.5rem;
        color: white;
        font-weight: 500;
        font-size: 2rem;
    }
    th:first-child{
        border-radius: 1rem 0 0 0;
    }
    th:last-child{
        border-radius: 0 1rem 0 0;
    }

    td{
        font-size: 1.6rem;
        width: 20rem;
        height: 9rem;
        text-align: center
    }

    select, input{
        width: 70%;
        padding: 0.2rem;
        border-radius: 0.5rem;
        border: 2px solid $primary-medium-2;
    }

}

.main_title{
    font-size: 3.5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    border-bottom: 2px solid $primary-medium-3;
}

.filtertableBtn{
    display: flex;
    justify-content: center;
}
