@import "../base/utilities.scss";

.introlist {
    width: 90% !important;
}

.default_list{
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    border: 2px solid $primary-medium-2;
    border-radius: 1rem;
    margin-bottom: 3rem;
    background-color: $primary-light-1;
    box-shadow: 1px 4px 20px #00000059;

    &--title{
        background-color: $primary-medium-2;
        border-radius: .5rem .5rem 0 0;
        padding: 1rem;
        color: white;
        font-weight: 500;
        font-size: 2rem;
    
        &--icon{
            height: 2.4rem;
            float: right;
            font-size: 2rem;
            font-weight: 900;
            background-color: $primary-white;
            border-radius: .2rem;
            border: 0;
            color: green;
            cursor: pointer;
        }
    }

    &--textarea{
        padding: 0.5rem;
        border-radius:0 0 1rem 1rem ;
        min-height: 10rem;
        background-color: $primary-light-1;
        border: none;

        &:focus{
            outline: none;
        }
    }

    &--buttonblock{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
        flex-wrap: wrap;

        &--type{
            font-size: 3.2rem;
            padding: 2rem;
            margin: 2rem 1rem;
            border: 2px solid $primary-medium-2;
            border-radius: .5rem;
            background-color: $primary-white;

        }
    }

    &--textblock{
        color: $primary-medium-3;

        &:not(:last-child){
            margin: 0 4rem;
            border-bottom: 2px solid $primary-medium-3;
        }

        &--name{
            padding: 2rem 0 1rem 0;
            font-weight: 500;
            font-size: 2rem;
        }

        &--text{
            padding: 2rem 0 2rem 0;
            font-size: 2rem;
        }        

        &--date{
            padding: 1rem 0 2rem 0;
            font-size: 1.6rem;

        }
    }

    &--qualityblock{
        padding: 1rem 0;
        padding-left: 1rem;
        display: grid;
        grid-template-columns: auto 12rem;
        grid-template-rows: repeat(3,auto);
        color: $primary-medium-3;
        font-size: 1.8rem;
        align-self: center;
        border-top: 2px solid $primary-medium-3;

        &--date{
            grid-row: 1/5;
            grid-column: 2/3;
            align-self: center;

            font-size: 3rem;
            font-weight: 600;
        }

        &--type{
            padding: 1.5rem;
            font-size: 2.6rem;
            font-weight: 500;
        }
    }
}

.popup_list{
    border-top: 2px solid $primary-medium-3;
    width: 100%;
    align-self: center;

    &--icon-1{
        color: red;
        display: flex;
        height: 0;
        transform: translate(4rem, -1rem);
        cursor: pointer;
        
    }
    &--icon-2{
        color: red;
        display: flex;
        height: 0;
        transform: translate(0rem, 3rem);
        cursor: pointer;
        
    }
}

.center{
    justify-content: center !important;
}