.jsprofile__top{
    grid-gap: 1rem;
    margin: 5rem;
    
    &--basicblock{
        display: flex;
        margin: 0 auto;
        padding-bottom: 2rem;
        border-bottom: 3px solid $primary-medium-2;
        width: 90%;
        justify-content: center;

        &--pictureblock{

            img{
                width: 16rem;
                height: 16rem;
                border-radius: 50%;
            }
        }

        &--nameblock{
            display: flex;
            align-items: center;
            font-size: 3rem;
            padding: 0 5rem;
            font-weight: 500;
        }
    }

    &--cvblock{
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        &--element{
            align-items: center;
            padding: 0 1rem;
            display: flex;
            align-items: flex-start;
            cursor: pointer;

            &--icon{
                font-size: 1.8rem;
            }
        }
    }

    &--intoblock{
        display: flex;
        justify-content: center;

        &--icon{
            margin-right: 0.5rem;
            font-size: 2rem;
        }
    }

    &--datablock{
        display: flex;
        flex-direction: row;
        justify-content: center;

        &-edit{
            display: flex;
            height: max-content;
            margin: 1rem;
            padding: .7rem;
            background-color: transparent;
            border: 0;
        }

        &-done{
            display: flex;
            height: max-content;
            margin: 1rem;
            padding: .7rem;
            border-radius: .7rem;
            background-color: $primary-medium-2;
            color: white;
            border: 0;
        }
    }

}

.profile_top{
    display: grid;
    padding: 5rem 0 ;
    grid-gap: 3rem;
    align-self: center;
    grid-template-columns: 70% auto;

        &--account{
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &--basic-datas{
            grid-column: 2/3;
            grid-row: 1/3;
        }

        &--introduction{
            grid-column: 1/2;
            grid-row: 2/3
        }

}