.jsprofile__lists{

    display: grid;
    grid-template-columns: repeat(2,minmax(max-content,50%));
    margin: 5rem;
    
}

.jsprofile__experienceblock, .jsprofile__qualityblock, .jsprofile__ideablock{
    display: flex;
    justify-content: center;

    &--iconblock{
        padding: 1rem;

        mat-icon{
            cursor: pointer;
        }
    }

}