.jsprofile__results{

    display: flex;
    justify-content: center;

    &--one{
        display: flex;
        flex-direction: column;
        background-color: $primary-light-1;
        color: $primary-medium-3;
        border: 2px solid $primary-medium-2;
        flex-grow: 0;
        border-radius: 1rem;
        margin: 3rem;
        width: 20rem;
        height: auto;
        text-align: center;
        box-shadow: 1px 4px 20px #00000059;

        &--iconblock{
            text-align: end;
            margin: 0.5rem;
            color: $primary-dark-1;
            cursor: pointer;
        }

        &--categoryblock{
            margin-top: 2.5rem;
            height: 3rem;
            font-size: 5rem;
            font-weight: 500;
        }

        &--languageblock{
            text-transform: uppercase;
            line-height: initial;
            height: auto;
            font-size: 2.6rem;
            font-weight: 500;
            transform: translateY(-.2rem);

            p{
                margin: 0;
            }
        }

        &--titleblock{
            font-size: 1.8rem;
            padding: 1.5rem;
        }
    
    }
}