.row-list{
    display: flex;
    justify-content: center;
    grid-gap: 4rem;
    padding-bottom: 10rem;

    &--cprofile--jobadvertisement{
        background-color: $primary-medium-1;
        border-radius: .7rem;
        box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
        width: 23rem;
        min-height: 16rem;
        cursor: pointer;
        
        h3{
            text-align: center;
            padding: 2rem 2rem 1rem 2rem;
            margin: 0;
            font-weight: 500;
            color: $primary-white;
        }
        p{
            padding: 1rem;
            margin: 0;
            text-align: left;
        }
    }

    &--company_matches{
        margin-top: 4rem;
        background-color: $primary-light-1;
        border-radius: .7rem;
        box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
        width: 23rem;
        min-height: 16rem;
        cursor: pointer;

        h3{
            text-align: center;
            padding: 2rem 2rem 1rem 2rem;
            margin: 0;
            font-weight: 500;
            color: $primary-black;
        }
        p{
            padding: 1rem;
            margin: 0;
            text-align: left;
        }
    }

    &--interested_companies{
        background-color: $primary-light-1;
        border-radius: .7rem;
        box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
        width: 23rem;
        height: max-content;
        cursor: pointer;
        margin-top: 4rem;
        
        h3{
            text-align: center;
            padding: 2rem 2rem 1rem 2rem;
            margin: 0;
            font-weight: 500;
            color: $primary-black;
        }
    }

}