::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: $primary-light-1;
    border-radius: 5px;
  }

::ng-deep .mat-form-field-wrapper{
    padding: 0;
}

::ng-deep .mat-error{
    padding: 2rem 0;
}

