.default_medium_2_button{
    padding: 1rem 4rem;
    background-color: $primary-medium-2;
    color: $primary-white;
    border-radius: .3rem;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0rem .3rem .6rem rgba($primary-black,20%)
}

.default_red_button{
    padding: 1rem 4rem;
    background-color: red;
    color: $primary-white;
    border-radius: .3rem;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0rem .3rem .6rem rgba($primary-black,20%)
}

.smaller_medium_2_button{
    padding: .8rem 3rem;
    background-color: $primary-medium-2;
    color: $primary-white;
    border-radius: .3rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    box-shadow: 0rem .3rem .6rem rgba($primary-black,20%)
}

.navigation_medium_2_button{
    padding: 1rem 2rem 1rem .5rem;
    background-color: $primary-medium-2;
    color: $primary-white;
    border-radius: .3rem;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0rem .3rem .6rem rgba($primary-black,20%);
    display: flex;
    align-items: flex-end;
    transition: all .2s;
    
    mat-icon{
        font-size: 3rem;
        margin-right: 1rem;
    }

    &:hover{
        background-color: $primary-medium-3;
    }
}

.exit_btn{
    background-color: red;
    color: white;
}

.simple_x{
    background-color: transparent;
    border: 0;
    height: 3rem;

    mat-icon{
        margin: 0;
    }
}

.click{
    cursor: pointer;
}