.job_advertiesement_appliciants_card{
    margin: 0 2rem;
    width: 23rem;
    min-height: 16rem;
    border-radius: 1rem;
    background-color: $primary_light_1;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;

    h2{
        padding: 2rem 0 1rem 0;
        text-align: center;
        margin: 0;
    }

    p{
        padding: 0 2rem
    }
    .back{
        display: none;
    }
    transition: all .3s;
}

.job_advertiesement_appliciants_card:hover{
    width: 26rem;
    height: max-content;
    .back{
        display: block;

    }
    .front{
        display: none;
    }
    h1{
        padding: 2rem 0 1rem 0;
        text-align: center;
        margin: 0;
        background-color: $primary_medium_2;
        color: white;
        border-radius: 1rem 1rem 0 0;
    }
    h2{
        text-align: left;
        padding: 1rem 1rem;
        margin: 0 2rem;
        
    }

    .nameblock{
        display: flex;
        padding-left: 4rem;
        align-items: center;
        cursor: pointer;

        .name{
            padding-right: 2rem;
            font-size: 1.6rem;
        }
        .done{
            color: green;
            padding-right: 1rem;
        }
        .clear{
            color: red
        }
    }

    .bottom{
        
        display: flex;
        justify-content: center;

        button{
            background-color: transparent;
            border: 0;
            padding: 1rem
        }
        
    }
}

.job_advertisement_with_appliciants_block{
    display: flex;
    padding: 5rem;
    justify-content: center;
}

.margin_top{
    margin-top: 5rem;
}