.navigation{
    max-width: 136rem;
    display: flex;
    margin: auto;
    background-color: $primary-medium-1;
    border-radius: 1.7rem;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    color: $primary-white;
    text-transform: uppercase;
    font-size: 2.4rem;

    &--part{
        width: 34%;
        text-align: center;
        padding: 1rem;
        margin:  1rem 0;
        cursor: pointer;
        transition: all .1s;
        &:not(:first-child, :last-child){
            border-left: 3px solid $primary-white ;
            border-right: 3px solid $primary-white ;

        }

        &:hover{
            box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
            padding: 2rem;
            margin: 0;
            background-color: $primary-medium-2;
            color: $primary-white;
            font-weight: 500;

            &:last-child{
                border-radius: 0 1.7rem 1.7rem 0;
            }

            &:first-child{
                border-radius: 1.7rem 0 0 1.7rem;
            }
        }        
    }
}

.sub_nav_buttons{
    
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    button{
        margin: 1rem;
    }
}