.basic-datas{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: max-content;
    border-radius: 2.9rem;
    padding: 2rem;
    background-color: $primary-medium-2;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    

    &--name{
        font-size: 2.2rem;
        font-weight: 500;
        color: $primary-white;
        padding: .5rem;
    }

    &--value{
        height: 4rem;
        font-size: 2rem;
        font-weight: 400;
        padding: .5rem 0 .8rem 3rem;
        color: $primary-white;
        
        align-items: center;
        display: flex;  

        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
            padding-bottom: 0;
            margin-bottom: .2rem;
        }
    }
}