.page-title-line {
    background-color: $primary-light-1;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    h1 {
        text-transform: uppercase;
        text-align: center;
        padding: 2rem;
        font-size: 2.6rem;
        font-weight: 500;
        color: $primary-dark-1;
    }
}
.header-nav {
    padding: 2rem;
    max-width: 1366px;
    min-height: 12rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.btn-primary {
    background-color: $primary-dark-1;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s;

    & > *:hover{
        background-color: $primary-dark-2;
        border-radius: 12px;
        cursor: pointer;

    }

    span {
        color: #ffffff;
        padding: 1rem 2rem;
        font-size: 2rem;
        margin: 0;
        font-weight: 300;
        display: block;
    }
}

.side-btn {
    border: 0;
    border-radius: 2rem;
    max-width: 28.6rem;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #d5fff8;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: $primary-dark-1;
    
    &:hover{
        background-color:  $primary-medium-1;
        color: $primary-black;

    }

    span {
        margin: 0;
        padding: 0 1rem;
        font-size: 1.8rem;
        text-align: center;
    }
}
