.registerForm {
    padding: 30px;
    background-color: #FFFFFF;
    border: 2px solid #4bbfaa;
    border-radius: 29px;
    width: 550px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    
    .registerFormInside{
        width: fit-content;
        margin: auto;
    }
    h1{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    .submitBtn{
        background-color:#142956;
        color: #FFFFFF;
        width: 150px;
        border: 0;
        border-radius: 8px;
        font-size: 18px;
        padding: 10px;
        font-weight: 300;
        margin: 10px;
    }
    
    p{
        color:  #142956;
        font-weight: 500;
        margin-bottom: 4px;
        text-align: left;
    }
}
