.settings_background{
    background-color: $primary-light-1;
    margin: 10rem auto;
    border-radius: 2.9rem;
    width: 70%;
    box-shadow: inset 0px 3px 6px #00000029;
    padding: 3rem;

    &--simple_content{
        display: grid;
        width: 80%;
        grid-template-columns: 45% 45% max-content;
        margin: 0 auto;
        
        & > *:not(:first-child) {
            font-size: 2rem;
            font-weight: 500;
            margin: 2rem;
        }
        &--title{
            grid-column: 1 / 4;
            font-size: 2.8rem;
            border-bottom: .2rem solid $primary-dark-1;
            font-weight: 500;
            padding: 2rem 0; 
            margin-bottom: 2rem;
            text-align: center;
        }

        &--type{
            border-right: 2px solid $primary-dark-1;
        }

        &--value{
            color: $primary-medium-3;
        }

        &--edit{
            display: flex;
            flex-direction: column;
            
            & > *{
                margin-bottom: .8rem;
                cursor: pointer;
            }
        }
    }
}

.company_settings{
    display: flex;
    justify-content: center;

    &--nav{
        margin: 10rem 2rem;

        & > *{
            margin: 1rem;
        }
    }

    &--content{
        margin: 8rem 3rem;

    }
}

.basic_settingsblock{

    display: flex;
    flex: 1;
}