<div class="profile_top">
    <div class="profile_top--account"
        *ngIf="companyProfileData"
    >
    <div class="jsprofile__top--basicblock">
        <div class="jsprofile__top--basicblock--nameblock">
            <div class="jsprofile__top--basicblock--nameblock--name">
                {{companyProfileData.name}}
            </div>
        </div>
    </div></div>

    <div class="profile_top--basic-datas"
        *ngIf="companyProfileData">
        <div class="c-profile__top--datablock">
                <div class="basic-datas">
                    <div class="basic-datas--name">
                        Telefonszám
                    </div>
                    <div class="basic-datas--value">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        {{companyProfileData.phoneNumber}}
                    </div>
                    <div class="basic-datas--name">
                        E-mail-cím
                    </div>
                    <div class="basic-datas--value">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        {{companyProfileData.email}}
                    </div>
                    <div class="basic-datas--name">
                        Cím
                    </div>
                    <div class="basic-datas--value">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        {{companyProfileData.address}}
                    </div>
                    
                    <div class="basic-datas--name">
                        Kapcsolattartó
                    </div>
                    <div class="basic-datas--value">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        {{companyProfileData.contactPerson}}
                    </div>
                </div>
        </div>
</div>

    <div class="profile_top--introduction"
        *ngIf="companyProfileData">
        <div class="jsprofile__top--intoblock smaller">
            <div class="default_list introlist">
                <div class="default_list--title">
                    Bemutatkozás
                </div>
                <p class="default_list--textarea">
                    {{companyProfileData.introduction}}
                </p>
                
            </div>
        </div>
    </div>
</div>
