
    <div class="default_list--textblock popup_list">
        <div class="default_list--textblock--name">
            {{experience.name}}
        </div>
        <mat-icon (click)="deleteExperience()" class="popup_list--icon-1">clear</mat-icon>
        <div class="default_list--textblock--date">
            {{experience.startDate}} - {{experience.endDate}}
        </div>
    </div>
