<app-header></app-header>
<div class="content">
    <app-sub-navigation></app-sub-navigation>
    
    <div class="main_title">
        Érdeklődő cégek
    </div>

    <section class="row-list">
        <app-company-one
            *ngFor="let company of (companies$ |async)"
            [company] = "company"
            (acceptCompanyEvent)="acceptCompanyEvent($event)"
            (rejectCompanyEvent)="rejectCompanyEvent($event)"
        ></app-company-one>

    </section>

</div>