<div class="job_advertiesement_appliciants_card">
    <div class="front">
        <h2>{{jobAdvertisement.name}}</h2>
        <p>{{jobAdvertisement.summary}}</p>
    </div>
    <div class="back">
        <h1>{{jobAdvertisement.name}}</h1>
        <div class="statusblock">
            <h2>Elbírálás alatt:</h2>
            <div class="nameblock"
                *ngFor="let applicant of inProgress">
                <div (click)="openProfile(applicant)" class="name">{{applicant.jobseekerName}}</div>
                <mat-icon (click)="acceptJobseeker(applicant)" class="done">done</mat-icon>
                <mat-icon (click)="rejectJobseeker(applicant)" class="clear">clear</mat-icon>
            </div>
        </div>
        <div class="statusblock">
            <h2>Elfogadott:</h2>
            <div class="nameblock"
                *ngFor="let applicant of accepted">
                <div class="name" (click)="openProfile(applicant)">{{applicant.jobseekerName}}</div>
            </div>
        </div>
        <div class="statusblock">
            <h2>Elutasított: </h2>
            <div class="nameblock"
                *ngFor="let applicant of rejected">
                <div class="name" (click)="openProfile(applicant)">{{applicant.jobseekerName}}</div>
            </div>
        </div>
        <div class="bottom">
            <button (click)="openJobAdvertisement()">megtekintés</button>
        </div>
    </div>
</div>