<div class="company_settings--nav">
    <button class="navigation_medium_2_button">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Fiókbeállítások
    </button>
    <button class="navigation_medium_2_button">
        <mat-icon>keyboard_arrow_left</mat-icon>
        A cég fiókjai
    </button>
    <button class="navigation_medium_2_button">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Fiók létrehozása
    </button>
</div>

