<form 
    (ngSubmit)="findJobseekers()"
    [formGroup]="jobseekerFilterForm"
    >
    <table class="filtertable">
            <tr>
                <th>kor</th>
                <th>nyelvvizsga</th>
                <th>jogosítvány</th>
                <th>képzettség</th>
            </tr>
            <tr>
                <td>
                    <p>legyen fiatalabb, mint</p>
                    <input
                        type="number"
                        formControlName="youngerThan"
                    >
                </td>
                <td>
                    <p>nyelv</p>
                    <select formControlName="language">
                        <option *ngFor="let language of languageList | keyvalue" [value]="language.key">{{language.value}}</option>
                    </select>
                </td>
                <td>
                    <p>kategória</p>
                    <select formControlName="category">
                        <option *ngFor="let category of categoryList | keyvalue" [value]="category.key">{{category.value}}</option>
                    </select>
                </td>
                <td>
                    <p>típus</p>
                    <select formControlName="type">
                        <option *ngFor="let type of typeList | keyvalue" [value]="type.key">{{type.value}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p>legyen idősebb, mint</p>
                    <input
                        type="number"
                        formControlName="olderThan">
                </td>
                <td>
                    <p>szint</p>
                    <select formControlName="level">
                        <option *ngFor="let level of levelList | keyvalue" [value]="level.key">{{level.value}}</option>
                    </select>
                </td>
            </tr>
    
    </table>
    <div class="filtertableBtn">
        <button class="default_medium_2_button" type="submit">keresés</button>
    </div>
</form>
