<div *ngIf="jobseeker" class="card">
    <div class="card-name">
        {{jobseeker.name}}
    </div>
    <div class="card-introduction">
        {{jobseeker.introduction}}
    </div>
    <div class="card-buttons">
        <mat-icon (click)="rejectJobseeker()" class="card-buttons-clear">clear</mat-icon>
        <button (click)="openJobseeker()"  class="default_medium_2_button">megtekint</button>
        <mat-icon (click)="acceptJobseeker()" class="card-buttons-done">done</mat-icon>
    </div>

</div>