<div (click)="navigateToCompany()" class="row-list--interested_companies">
    <h3>{{company.name}}</h3>
    <div class="interested_company_buttons">
        <mat-icon (click)="acceptCompany(company.id)" class="done">done</mat-icon>
        <mat-icon (click)="rejectCompany(company.id)" class="clear">clear</mat-icon>
    </div>
</div>