<div class="filtercontent">
    <div class="job_advertisement--filter-select">
        <button type="button" (click)="openType()">Típus</button>
        <button type="button" (click)="openCategory()">Kategória</button>
        <button type="button" (click)="openCity()">Nagyváros</button>
    </div>

    <div class="job_advertisement--filter-list" *ngIf="type">
        <div class="job_advertisement--filter-list-title">
            Válassza ki, mely típusok illenek az álláshirdetéséhez
        </div>
        <button 
            type="button"
            *ngFor="let workingType of workingTypes"
            [ngClass]="{'green' : selectedTypes(workingType)}"
            (click)="checkWorkingTypeSelected(workingType)"
            >
            {{workingType}}
        </button>
    </div>

    <div class="job_advertisement--filter-list" *ngIf="category">
        <div class="job_advertisement--filter-list-title">
            Válassza ki, mely kategóriák illenek az álláshirdetéséhez
        </div>
        <button 
            type="button"
            *ngFor="let category of workCategories"
            [ngClass]="{'green' : selectedCategoryes(category)}"
            (click)="checkWorkCategorySelected(category)"
            >
            {{category}}
        </button>
    </div>

    <div class="job_advertisement--filter-list" *ngIf="city">
        <div class="job_advertisement--filter-list-title">
            Válassza ki, mely városok közelében szeretne kereni
        </div>
        <button
            type="button" 
            *ngFor="let city of cities"
            [ngClass]="{'green' : selectedCities(city)}"
            (click)="checkCitySelected(city)"
            >
            {{city}}
        </button>
    </div>  

</div>
<div class="middle">
    <button (click)="find()" class="default_medium_2_button">Keresés</button>
</div>