<app-header></app-header>
<div class="content">

    <div class="main_title">
        Álláshirdetések keresése
    </div>
    <app-job-advertisement-filter
        [myData]="( myDatas$ | async)"
        [listValues]="(listValues$ | async)"
        (findJobAdvertisementEvent)="findJobAdvertisementEvent($event)"
    ></app-job-advertisement-filter>

    <app-job-advertisement-page
        [jobAdvertisement]="(jobAdvertisement$ | async)"
        (rejectJobAdvertisementEvent)="rejectJobAdvertisementEvent($event)"
        (acceptJobAdvertisementEvent)="acceptJobAdvertisementEvent($event)"
    ></app-job-advertisement-page>
</div>