<app-header></app-header>
<div class="content">
    <app-sub-navigation></app-sub-navigation>
 
    <div class="main_title">
        Álláshirdetések egyezési állapot alapján
    </div>

    <div class="center_div">
        <h2>Egyzezési állapot kiválasztása</h2>
        <mat-form-field>
            <mat-select (selectionChange)="onChange($event)">
                <mat-option *ngFor="let matchState of matchStateTypes | keyvalue" [value]="matchState.value" >{{matchState.value}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <section class="row-list ">
        <app-job-advertisement-one
            *ngFor="let jobAdvertisement of (jobAdvertisements$ |async)"
            [jobAdvertisementSummary] = "jobAdvertisement"

        ></app-job-advertisement-one>

    </section>
    
</div>