<header class="header">
    <div class="header__sidebox">
        <p class="header__sidebox--name">{{myName}}</p>
        <mat-icon class="header__sidebox--icon">person</mat-icon>
    </div>
    
        <img class="header__logo" src="assets/jobbing_logo.png" alt="jobbing_logo">
    <div class="header__sidebox">
        <mat-icon (click)="settingsNavigate()" class="header__sidebox--icon">settings</mat-icon>
        <button (click)="singOutNavigate()" class="header__sidebox--logout">
            Kijelentkezés
        </button>
    </div>
</header>
<nav class="navigation">
        <!--Company header-->
        <div class="navigation--part" *ngIf="isCompany" (click)="navigateToManageJobseekers()">
            Álláskeresők kezelése
        </div>
        <div class="navigation--part" *ngIf="isCompany" (click)="navigateToManageJobAdvertisements()">
            Álláshirdetések kezelése
        </div>
        <div class="navigation--part" *ngIf="isCompany" (click)="navigateToCompanyProfile()">
           profil
        </div>

        <!--Jobseeker header-->
        <div class="navigation--part" *ngIf="isJobseeker" (click)="NavigateToApplications()">
            érdeklődések
        </div>
        <div class="navigation--part" *ngIf="isJobseeker" (click)="NavigateToFindJobAdvertisements()">
            Álláshirdetések keresése
        </div>
        <div class="navigation--part" *ngIf="isJobseeker" (click)="navigateToJobseekerProfile()">
            profil
        </div>
</nav>
