<div class="jsprofile__top--basicblock">
    <div class="jsprofile__top--basicblock--nameblock">
        <div class="jsprofile__top--basicblock--nameblock--name">
            {{companyProfileData.name}}
        </div>
    </div>
</div>