<div class="profile_top">
    <app-account 
        class="profile_top--account"
        *ngIf="(profileData$ | async )"
        [jobseekerProfileData]="(profileData$ | async )!"
    ></app-account>

    <app-basic-datas 
        class="profile_top--basic-datas"
        *ngIf="(profileData$ | async )"
        [jobseekerProfileData]="(profileData$ | async )!"
        (updatePersonalDataEvent)="updatePersonalData($event)"
    ></app-basic-datas>

    <app-introduction 
        class="profile_top--introduction"
        *ngIf="(profileData$ | async )"
        [jobseekerProfileData]="(profileData$ | async )!"
        (updateIntroductionEvent)="updateIntroduction($event)"
    ></app-introduction>
</div>