<form (ngSubmit)="updateIntroduction()" [formGroup]="introductionForm">
    <div class="jsprofile__top--intoblock smaller">
        <div class="default_list introlist">
            <div class="default_list--title">
                Bemutatkozás
                <button type="submit" class="default_list--title--icon">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <textarea class="default_list--textarea" type="text" matInput formControlName="introduction"
                placeholder="Bemutatkozás"
                maxlength="255"
                #introduction>
                {{companyProfileData.introduction}}
            </textarea>
            <mat-hint align="end">{{introduction.value.length}} / 255</mat-hint>
        </div>
    </div>
</form>