<section class="default_popup" id="popup">
    <div class="default_popup--content">
        <div class="default_list">
            <div class="default_list--title">
                Képzettség megadása
            </div>
            <form
                (ngSubmit)="saveQuality()"
                [formGroup]="qualityForm">
                <mat-form-field appearance="outline" class="form_element">      
                    <mat-label>city</mat-label>
                    <input 
                        class="formInput"
                        type="text"
                        matInput
                        formControlName = "city"
                        placeholder="city"
                        required
                        />
                    <mat-error *ngIf="!qualityForm.hasError('required')">
                        A mező kitöltése kötelező
                        </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form_element">      
                    <mat-label>school</mat-label>
                    <input 
                        class="formInput"
                        type="text"
                        matInput
                        formControlName = "school"
                        placeholder="school"
                        required
                        />
                    <mat-error *ngIf="!qualityForm.hasError('required')">
                        A mező kitöltése kötelező
                        </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form_element">      
                    <mat-label>year</mat-label>
                    <input 
                        class="formInput"
                        type="number"
                        minlength="4"
                        maxlenght="4"
                        min="1940"
                        max="2022"
                        matInput
                        formControlName = "year"
                        placeholder="year"
                        required
                        />
                        <mat-error *ngIf="!qualityForm.hasError('required')">
                        Nem megfelelő érték 
                        </mat-error>
                    
                </mat-form-field>

                <mat-form-field appearance="outline" class="form_element">      
                    <mat-label>type</mat-label>
                    <mat-select 
                            formControlName = "type"
                            required
                    >
                    <mat-option 
                        *ngFor="let type of typeList | keyvalue" 
                        [value]="type.key">
                            {{type.value}}
                    </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!qualityForm.hasError('required')">
                        A mező kitöltése kötelező
                        </mat-error>
                </mat-form-field>
            </form>
            <div class="buttonblock">
                <button (click)="saveQuality()" class="smaller_medium_2_button">hozzáadás</button>
            </div>
        </div>
    </div>
</section>