<div class="c-profile__top--datablock">
    <form class="jsprofile__top--datablock" (ngSubmit)="updateCompanyData()" [formGroup]="companyDataForm">
        <div class="basic-datas">
            <div class="basic-datas--name">
                Telefonszám
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{companyProfileData.phoneNumber}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field class="from_element">
                    <input type="text" matInput formControlName="phoneNumber" />
                </mat-form-field>
            </div>

            <div class="basic-datas--name">
                E-mail-cím
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{companyProfileData.email}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field class="from_element">
                    <input type="text" matInput formControlName="email" />
                </mat-form-field>
            </div>

            <div class="basic-datas--name">
                Cím
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{companyProfileData.address}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field class="from_element">
                    <input type="text" matInput formControlName="address" />
                </mat-form-field>
            </div>


            <div class="basic-datas--name">
                Kapcsolattartó
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{companyProfileData.contactPerson}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field class="from_element">
                    <input type="text" matInput formControlName="contactPerson" />
                </mat-form-field>
            </div>
        </div>
        <button 
            class="jsprofile__top--datablock-edit" 
            *ngIf="!modifyPersonalData" 
            (click)="editPersonalData()"
            type="button">
            <mat-icon>border_color</mat-icon>
        </button>
        <button
            class="jsprofile__top--datablock-done" 
            *ngIf="modifyPersonalData"
            (click)="updateCompanyData()"
            type="button">
            <mat-icon>done</mat-icon>
        </button>

    </form>
</div>