<section class="jsprofile__results" id="jsprofile__results">
    <div class="jsprofile__results--one">
        <div class="jsprofile__results--one--iconblock">
            <a (click)="deleteLanguageExam()">
                <mat-icon >clear</mat-icon>
            </a>
        </div>
        <div class="jsprofile__results--one--languageblock">
            {{languageExam.language}}
            {{languageExam.level}}
        </div>
        <div class="jsprofile__results--one--titleblock">
            nyelvvizsgával rendelkezem
        </div>
    </div>
</section>

