<section
    class="job_advertisement--company"
    *ngIf="jobAdvertisementDataForJobseeker"
    (click)="navigateToCompanyProfile()">
    <h2>{{jobAdvertisementDataForJobseeker.companyName}}</h2>
    <p>
        {{jobAdvertisementDataForJobseeker.companyIntroduction}}
    </p>
</section>