<div class="sub_nav_buttons">
    <button type="button" class="default_medium_2_button" (click)="navigateToCompanies()">Cégek</button>
    <button type="button" class="default_medium_2_button" (click)="navigateToJobAdvertisements()">Álláshirdetések</button>
</div>