<section class="row-list">
    <div class="row-list--cprofile--jobadvertisement">
        <h3>Ékeszerkereskedő</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ...</p>
    </div>
    <div class="row-list--cprofile--jobadvertisement">
        <h3>Ékeszerkereskedő</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ...</p>
    </div>
    <div class="row-list--cprofile--jobadvertisement">
        <h3>Ékeszerkereskedő</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ...</p>
    </div>
    <div class="row-list--cprofile--jobadvertisement">
        <h3>Ékeszerkereskedő</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ...</p>
    </div>
    <div class="row-list--cprofile--jobadvertisement">
        <h3>Ékeszerkereskedő</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ...</p>
    </div>


</section>
