<div class="job_advertisement-save">
    <div class="jsprofile__top--basicblock">
        <div class="jsprofile__top--basicblock--nameblock">
            <div class="jsprofile__top--basicblock--nameblock--name">
                Álláshirdetés létrehozása
            </div>
        </div>
    </div>
    <form (ngSubmit) = "save()" [formGroup]="modifyForm">
        <div class="setFields ">
            <mat-form-field appearance="outline" class="form_element ">      
                <mat-label>Munka megnevezése</mat-label>
                <input 
                    class="formInput"
                    type="text"
                    #name
                    matInput
                    formControlName = "name"
                    placeholder="pl.: Targoncás"
                    required
                    matInput
                    maxlength="45"
                    />
                <mat-hint align="end">{{name.value.length}} / 45</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Munkavégzés pontos címe</mat-label>
                <input 
                    class="formInput"
                    type="text"
                    matInput
                    #place
                    formControlName = "place"
                    placeholder="pl.: 8693 Lengyeltóti, Kossuth Lajos u. 30."
                    required
                    maxlength="100"
                    />
                <mat-hint align="end">{{place.value.length}} / 100</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="bigger_form_element">      
                <mat-label>Összefoglaló leírás</mat-label>
                <textarea 
                    class="formInput"
                    type="text"
                    matInput
                    #summary
                    formControlName = "summary"
                    placeholder=""      
                    required
                    maxlength="200"
                    ></textarea>
                <mat-hint align="end">{{summary.value.length}} / 200</mat-hint>
            </mat-form-field>
        </div>
        <div class="midtext">
            Leírás
        </div>
        <quill-editor 
            formControlName="textEditor"
        ></quill-editor>

        <div class="filtercontent">
            <div class="job_advertisement--filter-select">
                <button type="button" (click)="openType()">Típus</button>
                <button type="button" (click)="openCategory()">Kategória</button>
                <button type="button" (click)="openCity()">Nagyváros</button>
            </div>

            <div class="job_advertisement--filter-list" *ngIf="type">
                <div class="job_advertisement--filter-list-title">
                    Válassza ki, mely típusok illenek az álláshirdetéséhez
                </div>
                <button 
                    type="button"
                    *ngFor="let workingType of workingTypes"
                    [ngClass]="{'green' : selectedTypes(workingType)}"
                    (click)="checkWorkingTypeSelected(workingType)"
                    >
                    {{workingType}}
                </button>
            </div>

            <div class="job_advertisement--filter-list" *ngIf="category">
                <div class="job_advertisement--filter-list-title">
                    Válassza ki, mely kategóriák illenek az álláshirdetéséhez
                </div>
                <button 
                    type="button"
                    *ngFor="let category of workCategories"
                    [ngClass]="{'green' : selectedCategoryes(category)}"
                    (click)="checkWorkCategorySelected(category)"
                    >
                    {{category}}
                </button>
            </div>

            <div class="job_advertisement--filter-list" *ngIf="city">
                <div class="job_advertisement--filter-list-title">
                    Válassza ki, mely városok közelében szeretne kereni
                </div>
                <button
                    type="button" 
                    *ngFor="let city of cities"
                    [ngClass]="{'green' : selectedCities(city)}"
                    (click)="checkCitySelected(city)"
                    >
                    {{city}}
                </button>
            </div>  

        </div>
        <div class="middle">
            <button type="submit" class="default_medium_2_button">Mentés</button>
        </div>
    </form>
</div>