<section *ngIf="userData" [ngClass]="{'company_settings--content' : isCompany()}" class="settings_background">
    <div class="settings_background--simple_content">
        <div class="settings_background--simple_content--title">
            ÁLTALÁNOS FIÓKBEÁLLÍTÁSOK
        </div>
        <div class="settings_background--simple_content--type">
            <p>Név</p>
            <p>Felhasználónév</p>
            <p>Jelszó</p>
            <p>E-mail-cím</p>
        </div>
        <div class="settings_background--simple_content--value">
            <p>{{userData.name}}</p>
            <p>{{userData.username}}</p>
            <p>********</p>
            <p>{{userData.email}}</p>
        </div>
        <div class="settings_background--simple_content--edit">
            <mat-icon (click)="modifyPopupStatusChange('name')">border_color</mat-icon>
            <mat-icon (click)="modifyPopupStatusChange('username')">border_color</mat-icon>
            <mat-icon (click)="modifyPopupStatusChange('password')">border_color</mat-icon>
            <mat-icon (click)="modifyPopupStatusChange('email')">border_color</mat-icon>
        </div>
    </div>
</section>



<section *ngIf="modifyData" class="default_popup">
    <div class="default_popup--content">
        <div class="default_list">
            <div class="default_list--title">
                 {{toSet}} módosítása
                 <button (click)="modifyPopupStatusChange('exit')" class="default_list--title--icon exit_btn">
                    <mat-icon >clear</mat-icon>
                </button>
            </div>
            <div>
                <form *ngIf="toSet=='Név'" (ngSubmit) = "changeName()" [formGroup]="changeNameForm">
                    <div class="settings_popup_content">
                        <div class="settings_popup_content--pair">
                            <p>Új {{toSet | lowercase}}:</p>
                            <input type="text" formControlName="name" >
                        </div>
                    </div>
                    <button type="submit"  class="default_medium_2_button button_margin_bottom">
                        mentés
                    </button>
                </form>
                <form *ngIf="toSet==='Felhasználónév'" (ngSubmit) = "changeUsername()" [formGroup]="changeUsernameForm">
                    <div class="settings_popup_content">
                        <div class="settings_popup_content--pair">
                            <p>Új {{toSet | lowercase}}:</p>
                            <input type="text" formControlName="newUsername" >
                        </div>
                    </div>
                    <button type="submit"  class="default_medium_2_button button_margin_bottom">
                        mentés
                    </button>
                </form>
                <form *ngIf="toSet==='Jelszó'" (ngSubmit) = "changePassword()" [formGroup]="changePasswordForm">
                    <div class="settings_popup_content">
                        <div class="settings_popup_content--pair">
                            <p>Régi {{toSet | lowercase}}:</p>
                            <input type="text" formControlName="oldPassword" >
                        </div>
                        <div class="settings_popup_content--pair">
                            <p>Új {{toSet | lowercase}}:</p>
                            <input type="text" formControlName="newPassword" >
                        </div>
                    </div>
                    <button type="submit"  class="default_medium_2_button button_margin_bottom">
                        mentés
                    </button>
                </form>
                <form *ngIf="toSet==='E-mail-cím'" (ngSubmit) = "changeEmail()" [formGroup]="changeEmailForm">
                    <div class="settings_popup_content">
                        <div class="settings_popup_content--pair">
                            <p>Új {{toSet | lowercase}}:</p>
                            <input type="text" formControlName="newEmail" >
                        </div>
                        
                    </div>
                    <button type="submit"  class="default_medium_2_button button_margin_bottom">
                        mentés
                    </button>
                </form>
            </div>
        </div>
    </div>

</section>