<div class="jsprofile__results--one">
    <div class="jsprofile__results--one--categoryblock">
        {{drivingLicence.value}}
    </div>
    <div class="jsprofile__results--one--titleblock">
        kategóriás jogosítvánnyal rendelkezem
    </div>    
</div>


