<div class="card" *ngIf="jobAdvertisement">
    <div class="card-title">
        {{jobAdvertisement.name}}
    </div>
    <div class="card-company_name">
        {{jobAdvertisement.companyName}}
    </div>
    <div class="card-address">
        {{jobAdvertisement.place}}
    </div>
    <div class="card-introduction">
        {{jobAdvertisement.summary}}
    </div>
    <div class="card-buttons">
        <mat-icon (click)="rejectJobAdvertisement()" class="card-buttons-clear">clear</mat-icon>
        <button (click)="navigateToJobAdvertisement()" class="default_medium_2_button">megtekint</button>
        <mat-icon (click)="acceptJobAdvertisement()" class="card-buttons-done">done</mat-icon>
    </div>

</div>