<app-language-exam-modify
    (addLanguageExamEvent)="addLanguageExamEvent($event)"
></app-language-exam-modify>
<div class="jsprofile__results">
    <app-language-exam-one
        *ngFor="let languageExam of (languageExams$ | async )"
        [languageExam] = "languageExam"
        (deleteLanguageExamEvent)="deleteLanguageExamEvent($event)">
    </app-language-exam-one>
</div>
