<section class="jsprofile__qualityblock">
    <div class="default_list">
        <div class="default_list--title">
            Képzettség
        </div>
        <app-quality-one
            *ngFor="let quality of (qualities$ | async)"
            [quality] = "quality"
            (deleteQualityEvent)="deleteQuality($event)"
        ></app-quality-one>
    </div>
    <div class="jsprofile__experienceblock--iconblock">
        <mat-icon (click)="saveQuality()" class="jsprofile__experienceblock--iconblock--icon">border_color</mat-icon>
    </div>
</section>