<app-header></app-header>
<div class="content">
    <button class="default_medium_2_button margin_top" (click)="navigateToCreateJobAdvertisement()">Álláshidetés létrehozása</button>
    <div class="main_title">
        Álláshidetéseim
    </div>
    <div class="job_advertisement_with_appliciants_block">
        <app-job-advertisement-with-appliciants
        *ngFor="let jobAdvertisement of (jobAdvertisementsWithAppliciants$ | async)"
        [jobAdvertisement] = "jobAdvertisement"
        (acceptJobseekerEvent)="acceptJobseekerEvent($event)"
        (rejectJobseekerEvent)="rejectJobseekerEvent($event)"
    ></app-job-advertisement-with-appliciants>

    </div>
    
</div>

