<form (ngSubmit)="updateIntroduction()" [formGroup]="introductionForm">
    <div class="jsprofile__top--intoblock smaller">
        <div class="default_list introlist">
            <div class="default_list--title">
                Bemutatkozás
                <button type="submit" class="default_list--title--icon">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <textarea 
                ng-init="title"
                class="default_list--textarea"
                type="text"
                matInput 
                formControlName="introduction"
                maxlength="255"
                #introduction
                placeholder="Bemutatkozás ">
                {{jobseekerProfileData.introduction}}
            </textarea>
            <mat-hint align="end">{{introduction.value.length}} / 255</mat-hint>
        </div>
    </div>
</form>