<div class="loginForm">
    <form (ngSubmit) = "login()" [formGroup]="loginForm">
        <h1>BEJELENTKEZÉS</h1>

        <div>  
            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Felhasználónév</mat-label>
            <input 
                class="formInput"
                type="text"
                matInput
                formControlName = "username"
                placeholder="Felhasználónév"
                required
                />
            <mat-error *ngIf="!loginForm.hasError('required')">
                A mező kitöltése kötelező
                </mat-error>
                
            </mat-form-field>
            
                
            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Jelszó</mat-label>
            <input class="formInput"
                matInput 
                type="password"
                formControlName = "password"
                placeholder="********"
                required
            >
            <mat-error *ngIf="!loginForm.hasError('required')">
                A mező kitöltése kötelező
              </mat-error>
        </mat-form-field>
       
            
        </div>
        <button
            class="submitBtn"
            type="submit"
            [disabled]="!loginForm.valid"
            >Bejelentkezés</button>

    </form>
</div>