<app-header></app-header>

<app-settings-basic 
    [userData]="(userData$ | async)!"
    (changeNameEvent)="changeName($event)"
    (changeUsernameEvent)="changeUsername($event)"
    (changePasswordEvent)="changePassword($event)"
    (changeEmailEvent)="changeEmail($event)"
></app-settings-basic>
