<app-header></app-header>

<div class="content">

    <div class="sub_nav_buttons">
        <button (click)="NavigateToFindJobseekers()" class="default_medium_2_button">Álláskeresők keresése</button>
        <button (click)="NavigateToFoundJobseekers()" class="default_medium_2_button">Keresett álláskeresők</button>
    </div>

    <div class="main_title">
        Egyezések álláskeresőkel
    </div>

    <div class="row-list">
        <app-found-jobseeker-one 
            *ngFor="let jobseeker of (jobseekers$ | async)"
            [jobseeker] = "jobseeker"
        ></app-found-jobseeker-one>
    </div>

</div>