<div class="content">
    <app-header
    ></app-header>

    <app-top-block *ngIf="profileData$"
        [myData]="(myData$ | async)!"
        [profileData$]="profileData$"  
    ></app-top-block>

    <app-driving-licence-block
        [myData]="(myData$ | async)!">
    </app-driving-licence-block>

    <app-language-exam-block
        [myData]="(myData$ | async)!">
    </app-language-exam-block>

    <div class="jsprofile__lists">
        <app-experience-block
            [myData]="(myData$ | async)!"
        ></app-experience-block>
        <app-quality-block
            [myData]="(myData$ | async)!"
        ></app-quality-block>
    </div>

    <ng-container *ngIf="(profileData$ | async)">
        <app-profile-ideablock 
            [jobseekerProfileData]="(profileData$ | async)!"
            (updateWorkILookForEvent)="updateWorkILookFor($event)"
        ></app-profile-ideablock>
    </ng-container>
</div>
