
<section class="default_popup" id="popup">
    <div class="default_popup--content">
        <div class="default_list">
            <div class="default_list--title">
                Tapasztatlat megadása
            </div>
            <form
                (ngSubmit)="saveExperience()"
                [formGroup]="experienceForm">
                <div class="default_popup--content--inputblock">
                        <mat-form-field appearance="outline" class="form_element">      
                            <mat-label>munkakör</mat-label>
                            <input 
                                class="formInput"
                                type="text"
                                matInput
                                formControlName = "name"
                                placeholder="name"
                                required
                                />
                            <mat-error *ngIf="!experienceForm.hasError('required')">
                                A mező kitöltése kötelező
                                </mat-error>
                        </mat-form-field>
                    
                        <mat-form-field appearance="fill">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate required formControlName = "startDate" placeholder="Start date">
                              <input matEndDate required formControlName = "endDate" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                </div>
                
                <div class="buttonblock">
                    <button (click)="saveExperience()" class="smaller_medium_2_button">hozzáadás</button>
                </div>
            </form>
        </div>
    </div>
</section>