<div *ngIf="profileData" class="content">
    <div class="profile_top">
        <div class="profile_top--account">
            <div class="jsprofile__top--basicblock">
                <div class="jsprofile__top--basicblock--nameblock">
                    <div class="jsprofile__top--basicblock--nameblock--name">
                        {{profileData.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="profile_top--basic-datas">
            <div class="jsprofile__top--datablock">
                    <div class="basic-datas">
                        <div class="basic-datas--name" *ngIf="profileData.birthPlace">
                            Születési hely
                        </div>
                        <div class="basic-datas--value" *ngIf="profileData.birthPlace">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            {{profileData.birthPlace}}
                        </div>
                        <div class="basic-datas--name" *ngIf="profileData.birthTime">
                            Születési idő
                        </div>
                        <div class="basic-datas--value" *ngIf="profileData.birthTime">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            {{profileData.birthTime}}
                        </div>
                        <div class="basic-datas--name">
                            E-mail-cím
                        </div>
                        <div class="basic-datas--value">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            {{profileData.email}}
                        </div>
                        <div class="basic-datas--name" *ngIf="profileData.address">
                            Lakhely
                        </div>
                        <div class="basic-datas--value" *ngIf="profileData.address">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            {{profileData.address}}
                        </div>
                        <div class="basic-datas--name" *ngIf="profileData.residence">
                            Tartózkodási hely
                        </div>
                        <div class="basic-datas--value" *ngIf="profileData.residence">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            {{profileData.residence}}
                        </div>
                    </div>
            </div>
        </div>
        <div class="profile_top--introduction" *ngIf="profileData.introduction">
            <div class="jsprofile__top--intoblock smaller">
                <div class="default_list introlist">
                    <div class="default_list--title">
                        Bemutatkozás
                    </div>
                    <p class="default_list--textarea" 
                        placeholder="Bemutatkozás ">
                        {{profileData.introduction}}
                    <p>
                </div>
            </div>
        </div>
    </div>
    <div class="jsprofile__results">
        <div *ngFor="let drivingLicence of drivingLicences">
            <div class="jsprofile__results--one">
                <div class="jsprofile__results--one--categoryblock">
                    {{drivingLicence.value}}
                </div>
                <div class="jsprofile__results--one--titleblock">
                    kategóriás jogosítvánnyal rendelkezem
                </div>    
            </div>
        </div>
    </div>
    <div class="jsprofile__results">
        <div *ngFor="let languageExam of languageExams">
            <section class="jsprofile__results" id="jsprofile__results">
                <div class="jsprofile__results--one">
                    <div class="jsprofile__results--one--languageblock">
                        {{languageExam.language}}
                        {{languageExam.level}}
                    </div>
                    <div class="jsprofile__results--one--titleblock">
                        nyelvvizsgával rendelkezem
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="jsprofile__lists">

        <section class="jsprofile__qualityblock" *ngIf="experiences && experiences.length > 0">
            <div class="default_list">
                <div class="default_list--title">
                    Tapasztalat
                </div>
                <div *ngFor="let experience of experiences ">
                    <div class="default_list--textblock popup_list">
                        <div class="default_list--textblock--name">
                            {{experience.name}}
                        </div>
                        <div class="default_list--textblock--date">
                            {{experience.startDate}} - {{experience.endDate}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="jsprofile__qualityblock" *ngIf="qualities && qualities.length > 0">
            <div class="default_list">
                <div class="default_list--title">
                    Képzettség
                </div>
                <div *ngFor="let quality of qualities">
                    <div class="default_list--qualityblock">
                        <div class="default_list--qualityblock--city">
                            {{quality.city}}
                        </div>
                        <div class="default_list--qualityblock--school">
                            {{quality.school}}
                        </div>
                        <div class="default_list--qualityblock--type">
                            {{quality.type}}
                        </div>
                        <div class="default_list--qualityblock--date">
                            {{quality.year}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <section class="jsprofile__ideablock" *ngIf="profileData.workILookFor">
        <div class="default_list">
            <div class="default_list--title">
                Az általam keresett munka ilyen:
            </div>
            <p class="default_list--textarea"
            >{{profileData.workILookFor}}</p>
        </div>
    </section>
</div>