
<app-header></app-header>

<div class="content">
    <div class="job_advertisement">
        <div class="job_advertisement--body">
            <app-job-advertisement-top *ngIf="(jobAdvertisementDataForCompany$ | async )"
                [jobAdvertisementDataForCompany]="(jobAdvertisementDataForCompany$ | async )!"

            ></app-job-advertisement-top>
            <app-job-advertisement-text *ngIf="(jobAdvertisementDataForCompany$ | async )"
                [jobAdvertisementDataForCompany]="(jobAdvertisementDataForCompany$ | async )!"
            ></app-job-advertisement-text>
        </div>
        <div>
            <app-job-advertisement-edit 
                [jobAdvertisementDataForCompany]="(jobAdvertisementDataForCompany$ | async )!"   
                (deleteJobAdvertisementEvent)="deleteJobAdvertisement($event)"
                
            ></app-job-advertisement-edit>
        </div>
    </div>
</div>