
<div class="content">
    <app-header></app-header>

    <app-company-top-block
        [myData]="(myData$ | async)!"
    ></app-company-top-block>
    
    <app-job-advertisement-block
        [myData]="(myData$ | async)!"
    ></app-job-advertisement-block>
</div>