<form (ngSubmit)="updateWorkILookFor()" [formGroup]="workILookForForm">
    <section class="jsprofile__ideablock">
        <div class="default_list">
            <div class="default_list--title">
                Az általam keresett munka ilyen:
                <button type="submit" class="default_list--title--icon">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <textarea class="default_list--textarea"
            type="text"
            matInput
            ng-init="title"
            formControlName = "workILookFor"
            placeholder="Itt írhatok arról, hogy milyen pozícióban szeretnék dolgozni, mennyit szeretnék keresni, helyileg hol szeretnék dolgozni, milyen képességekkel rendelkezem az adott munkával kapcsolatban..."
            >{{jobseekerProfileData.workILookFor}}</textarea>
        </div>
    </section>
</form>