<div class="default_list--qualityblock">
    <div>
        <mat-icon (click)="deleteQuality()" class="popup_list--icon-2">clear</mat-icon>
    </div>
    <div class="default_list--qualityblock--city">
        {{quality.city}},
    </div>
    <div class="default_list--qualityblock--school">
        {{quality.school}}
    </div>
    <div class="default_list--qualityblock--type">
        {{quality.type}}
    </div>
    <div class="default_list--qualityblock--date">
        {{quality.year}}
    </div>
</div>