<section class="jsprofile__qualityblock">
    <div class="default_list">
        <div class="default_list--title">
            Tapasztalat
        </div>
        <app-experience-one
            *ngFor="let experience of (experiences$ | async)"
            [experience] = "experience"
            (deleteExperienceEvent)="deleteExperience($event)"
        ></app-experience-one>
    </div>
    <div class="jsprofile__experienceblock--iconblock">
        <mat-icon (click)="saveExperience()" class="jsprofile__experienceblock--iconblock--icon">border_color</mat-icon>
    </div>
</section>