<div class="profile_top">
    <app-company-account class="profile_top--account"
        *ngIf="(profileData$ | async)"
        [companyProfileData]="(profileData$ | async)!"
    ></app-company-account>

    <app-company-basic-datas class="profile_top--basic-datas"
        *ngIf="(profileData$ | async)"
        [companyProfileData]="(profileData$ | async)!"
        (updatePersonalDataEvent)="updateCompanyData($event)"
    ></app-company-basic-datas>

    <app-company-introduction class="profile_top--introduction"
        *ngIf="(profileData$ | async)"
        [companyProfileData]="(profileData$ | async)!"
        (updateIntroductionEvent)="updateIntroduction($event)"
    ></app-company-introduction>
</div>
