<div class="job_advertisement--body-list">
    <div *ngFor="let workCategoryName of workCategoryNameList">
        <p class="job_advertisement--body-list-element">{{workCategoryName}}</p>
    </div>
    <div *ngFor="let workTypeName of workTypeNameList">
        <p class="job_advertisement--body-list-element">{{workTypeName}}<p>
    </div>
    <div *ngFor="let cityName of cityNameList">
        <p class="job_advertisement--body-list-element">{{cityName}}</p>
    </div>
</div>
<div class="job_advertisement--body-name">
    <h1>{{name}}</h1>
</div>
<div class="job_advertisement--body-place">
    <h3 class="stroke">Munkavégzés helye:  </h3>
    <h3>{{place}}</h3>
   
</div>
    
