<div class="jsprofile__top--datablock">
    <form class="jsprofile__top--datablock" [formGroup]="personalDataForm">
        <div class="basic-datas">
            <div class="basic-datas--name">
                Születési hely
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{jobseekerProfileData.birthPlace}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field class="from_element">
                    <input type="text" matInput maxlength="45" formControlName="birthPlace" />
                </mat-form-field>
            </div>

            <div class="basic-datas--name">
                Születési idő
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{jobseekerProfileData.birthTime}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <input type="date" matInput max="2020-01-01" formControlName="birthTime" />
            </div>

            <div class="basic-datas--name">
                E-mail-cím
            </div>
            <div class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{jobseekerProfileData.email}}
            </div>
            <div class="basic-datas--name">
                Lakhely
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{jobseekerProfileData.address}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field class="from_element">
                    <input type="text" matInput maxlength="45" formControlName="address" />
                </mat-form-field>
            </div>

            <div class="basic-datas--name">
                Tartózkodási hely
            </div>
            <div *ngIf="!modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{jobseekerProfileData.residence}}
            </div>
            <div *ngIf="modifyPersonalData" class="basic-datas--value">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field class="from_element">
                    <input type="text" matInput maxlength="45" formControlName="residence" />
                </mat-form-field>
            </div>
        </div>
        <button class="jsprofile__top--datablock-edit" *ngIf="!modifyPersonalData" (click)="editPersonalData()"
            type="button">
            <mat-icon>border_color</mat-icon>
        </button>
        <button class="jsprofile__top--datablock-done" *ngIf="modifyPersonalData" (click)="updatePersonalData()"
            type="button">
            <mat-icon>done</mat-icon>
        </button>
    </form>
</div>