<section class="default_popup">
    <div class="default_popup--content">
        <div class="default_list">
            <div class="default_list--title">
                Válassza ki, mely nyelvvizsga típusokkal rendelkezik
                <button (click)="closeLanguageExam()" class="default_list--title--icon exit_btn">
                    <mat-icon >clear</mat-icon>
                </button>
            </div>
            <form 
                (ngSubmit)="saveLanguageExam()"
                [formGroup]="languageExamForm">
                <div class="default_popup--content--language_exam">
                
                    <div class="default_popup--content--language_exam-side">
                        <p>Nyelv</p>
                        <select formControlName="language">
                            <option *ngFor="let language of languageList | keyvalue" [value]="language.key">{{language.value}}</option>
                        </select>
                        <p>Típus</p>
                        <select formControlName="level">
                            <option *ngFor="let level of levelList | keyvalue" [value]="level.key">{{level.value}}</option>
                        </select>
                        <button class="smaller_medium_2_button popup_margin_top" type="submit" value="add">Hozzáad</button>
                    </div>
                    
                </div>
            </form>
            
        </div>
    </div>
</section>