
<div class="registerForm">
    <form (ngSubmit) = "register()" [formGroup]="registerForm">
        <h1>REGISZTRÁCIÓ</h1>

        <div class="registerFormInside">
        
            <mat-form-field *ngIf="isCompany" appearance="outline" class="form_element">      
                <mat-label>Cégnév</mat-label>
                <input 
                    class="formInput"
                    type="text"
                    matInput
                    maxlength="45"
                    formControlName = "companyName"
                    placeholder="Cég név"
                    required
                    />
                <mat-error *ngIf="!registerForm.hasError('required')">
                    A mező kitöltése kötelező
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Teljes név</mat-label>
                <input class="formInput"
                    type="text"
                    matInput
                    formControlName = "name"
                    placeholder="Teljes név"
                    maxlength="45"
                    required
                    />  
                <mat-error *ngIf="!registerForm.hasError('required')">
                    A mező kitöltése kötelező
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Felhasználónév</mat-label>
                <input class="formInput"
                    type="text"
                    matInput
                    formControlName = "username"
                    placeholder="Felhasználónév"
                    required
                    maxlength="45"
                    />
                <mat-error *ngIf="!registerForm.hasError('required')">
                    A mező kitöltése kötelező
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Email</mat-label>
                <input class="formInput"
                    type="email"
                    matInput
                    formControlName = "email"
                    placeholder="email"
                    required
                    maxlength="45"
                    /> 
                <mat-error *ngIf="!registerForm.hasError('required') && !registerForm.hasError('email')">
                    Nem megfelelő formátum
                </mat-error>
                <mat-error *ngIf="!registerForm.hasError('required')">
                    A mező kitöltése kötelező
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Jelszó</mat-label>
                <input class="formInput"
                    type="password"
                    matInput
                    formControlName = "password"
                    placeholder="password"
                    required
                    maxlength="45"
                    />
                <mat-error *ngIf="!registerForm.hasError('required')">
                    A mező kitöltése kötelező
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form_element">      
                <mat-label>Jelszó megerősítése</mat-label>
                <input class="formInput"
                    type="password"
                    matInput
                    formControlName = "confirmPassword"
                    placeholder="confirmPassword"
                    required
                    maxlength="45"
                    />
                <mat-error *ngIf="!registerForm.hasError('required')">
                    A mező kitöltése kötelező
                </mat-error>
                <mat-error *ngIf="!passwordMatch">
                    A két jelszó nem egyezik!
                </mat-error>
            </mat-form-field>
            <mat-checkbox (click)="navigateToAgreement()">Elfogadom az Adatkezelési tájékoztatót és az ÁSZF-et</mat-checkbox>
            
            
        </div>
        <button 
            class="submitBtn" 
            type="submit"
            [disabled]="!registerForm.valid">
                Regisztráció
        </button>

    </form>
</div>