<div class="content">
    <div class="center_div">
        <img class="header__logo" src="assets/jobbing_logo.png" alt="jobbing_logo">
    </div>

    <h2>Felhasználási Feltételek</h2>
    <p>
        A Weboldal megnyitásával, böngészésével és/vagy használatával a Weboldal látogatója
        (továbbiakban: Felhasználó) elfogadja és magára nézve kötelezőnek ismeri el jelen feltételeket
        (a továbbiakban: Feltételek) és a vonatkozó jogszabályok és rendelkezések betartását. A
        Felhasználó kijelenti, hogy jogosult ezeket a Feltételeket saját vagy az általa képviselt fél
        nevében elfogadni. Amennyiben ezen Feltételek valamelyik kitételét bármely állam
        jogszabályai, törvényei, rendeletei vagy egyéb szabályozása, illetve bármely bíróság jogerős
        ítélete érvénytelennek nyilvánítja, az nem befolyásolhatja a Feltételek többi kitételének
        végrehajthatóságát.
        Amennyiben a Felhasználó nem fogadja el a fenti feltételeket, nem használhatja a
        Weboldalt.
    </p>
    <h2>
        Adatkezelési tájékoztató
    </h2>
    <p>
        A Felhasználó azzal, hogy a Felületen regisztrál és a Szolgáltatásokat igénybe veszi,
        úgy nyilatkozik, hogy a magyar munkavállalói közösség, illetve munkaerőpiac aktív
        résztvevője kíván lenni, tudomásul véve, hogy az általa megosztott információk, adatok,
        vélemények, egyéb tartalmak, illetve azok jelen Tájékoztatóban meghatározott része a 
        Felhasználók és munkaadók, illetve azok meghatározott része számára elérhetővé válnak.
        Amennyiben a Felhasználó ezen szándéka megváltozik, kérjük, hogy ezt egyértelműen jelezze
        Társaságunk felé azzal, hogy megszünteti regisztrációját.

        A Felületen nyújtott szolgáltatás globális célja a Felhasználó magyar munkavállalói
        közösségben való jelenlétének, továbbá munkához jutásának, a munkaerőpiacon történő
        eredményes jelenlétének segítése, közösségi kapcsolatépítés.
    </p>
</div>