<div class="header-nav">

    <div class="side-btn" (click)="navigateLeftButton()">
        <mat-icon class="iconRightSide ">arrow_back_ios</mat-icon>
        <span [innerHtml]="leftButtonText"></span>
    </div>

    <div class="btn-primary" (click)="navigateMiddleButton()">
        <span [innerHtml]="middleButtonText"></span>
    </div>

    <div class="side-btn" (click)="navigateRightButton()">
        <span [innerHtml]="rightButtonText"></span>
        <mat-icon class="iconLeftSide">arrow_forward_ios</mat-icon>
    </div>

</div>
<div class="page-title-line">
    <h1>{{pageTitle}}</h1>
</div>