<app-header></app-header>

<div class="content">
    <div class="job_advertisement">
        <div class="job_advertisement--body">
            <app-job-advertisement-top
                [jobAdvertisementDataForJobseeker]="(jobAdvertisementData$ | async)!"    
            ></app-job-advertisement-top>
            
            <app-job-advertisement-text *ngIf="(jobAdvertisementData$ | async)"
                [jobAdvertisementDataForCompany]="(jobAdvertisementData$ | async)!"
            ></app-job-advertisement-text>
        </div>
        <div>
            <app-company-text
                [jobAdvertisementDataForJobseeker]="(jobAdvertisementData$ | async)!"    
            ></app-company-text>
        </div>
    </div>
</div>