<ng-container *ngIf="(drivingLicences$ | async)">
    <app-driving-licence-modify
        [drivingLicences]="(drivingLicences$ | async)!"
        (saveDrivingLicenceEvent)="saveDrivingLicenceEvent($event)"        
    
    ></app-driving-licence-modify>
</ng-container>


<div class="jsprofile__results">
    <app-driving-licence-one 
    
        *ngFor="let drivingLicence of (drivingLicences$ | async )"
        [drivingLicence] = "drivingLicence">
    </app-driving-licence-one>
</div>

