<app-header></app-header>
<div class="content padding">
    <div class="sub_nav_buttons">
        <button (click)="navigateToFindJobseekers()" class="default_medium_2_button">Álláskeresők keresése</button>
        <button (click)="navigateToFoundJobseekers()" class="default_medium_2_button">Keresett álláskeresők</button>
    </div>

    <div>
        <div class="main_title">
            Álláskeresők keresése
        </div>

        <app-filtertable
            (findJobseekerEvent)="findJobseekerEvent($event)"
        ></app-filtertable>

        <app-page-block
            (acceptJobseekerEvent)="acceptJobseekerEvent($event)"
            (rejectJobseekerEvent)="rejectJobseekerEvent($event)"
            [jobseeker]="(jobseeker$ |async)"
        ></app-page-block>
    </div>
</div>